{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="card-group">
        {% for article in pagination %}
            <div class=" m-2 card" style="width: 18rem;">
                <a href="{{ path('app_article_show', { id: article.id }) }}" class="text-decoration-none text-dark">

                    {% if article.imageName %}
                        <img src="{{ asset('images/article/' ~ article.imageName) }}" alt="Image de l'article" style = " height:200px; object-fit: cover;" class="card-img-top" >
                    {% endif %}
                    <div class="card-body">
                        <h5>{{ article.title }}</h5>
                        <p class="card-text text-muted">{{ article.content|slice(0, 200) ~ '...' }}</p>
                        {% if article.categories|length > 0 %}
                            <p class="text-secondary"> {{ article.categories|map(c => c.name)|join(', ') }} <p>
                        {% endif %}

                        <p class="fst-italic">{{article.createdAt|date('d/m/Y H:i') }} </p>
                    </div>
                </a>

            </div>
        {% else %}
            <div class="col-12">
                <div class="alert alert-warning text-center" role="alert">
                    No records found.
                </div>
            </div>
        {% endfor %}
    
    </div>
    <div class="pagination justify-content-center my-4">
        {{ knp_pagination_render(pagination)}}
    </div>



{% endblock %}
