{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <div class = "container mt-4">
        <h1 class="text-primary" >Article index</h1>
    
        <table class="table" id="articles-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Categories</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr >
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.content }}</td>
                    <td>
                    {% for category in article.categories %}
                        <div>{{category.name }}</div>  
                    {% else %}
                        Aucun categorie
                    {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('app_article_show', {'id': article.id}) }}" class="btn btn-primary">show</a>
                        <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-success">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_article_new') }}" class="btn btn-primary" >Create new</a>
        {# <div class="pagination justify-content-end my-4">
            {{ knp_pagination_render(pagination)}}
        </div> #}
    </div>

{% endblock %}
